* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: whitesmoke !important;
}

.container-fluid {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    font-family: 'Racing Sans One', cursive;
    font-size: 18px;
}

.navbar-dark .navbar-brand {
    font-size: 18px;
}

#collapsibleNavbar {
    margin-right: 30px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #c14e4e;
}

.content {
    padding: 80px 0px 20px 0px;
    min-height: 100%;
    position: relative;
}

.header {
    padding: 15px 0px;
}

.header h3 {
    font-family: 'Racing Sans One', cursive;
    font-size: 55px;
    text-align: center;
    color: #c14e4e;
    padding-bottom: 50px;
}

img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

img:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-filter: blur(5px) brightness(0.5);
}

footer {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    padding: 15px;
    font-size: 10px;
    opacity: 0.7;
}

@media only screen and (max-width: 991px) {

    a {
        font-size: 95%;
        text-align: center;
        color: aliceblue;
        font-family: 'Racing Sans One', cursive;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 576px) {
 
    .navbar-dark .navbar-brand {
        font-size: 70%;
    }
}
